.app {
  text-align: center;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #aedb93;
  height: 150px;
  padding: 20px;
  color: white;
}

/*.app-title {
  font-size: 1.5em;
}*/

table {
  /* border-collapse: collapse; */
}

table, th, td {
  border-bottom: 1px solid lightgrey;
  text-align: left;
  padding: 5px 5px 5px 5px;
}

th {
  background-color: lightgrey;
  height: 30px;
}

/* tr:nth-child(even){background-color: lightgrey} */

/*.app-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.app-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.app-rating > span:hover:before,
.app-rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
} */